
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');


html{
    background-color: #1e1e1e;
}

p{
    margin: 0;
    padding: 0;
}

li{
    padding: 0 7.8px; 
}

body{
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    width: 1920px;
    max-width: 100%;
    border-radius: 30px;
    overflow-x: hidden;
}

a{
     text-decoration: none;
}

/* header */

.header{
    background-color: #ffffff;
    position: relative;
    width: 1599px;
    max-width: 100%;
    height: 50px;
    top: 22.5px;
    left: 160px;
    /* border-radius: 100px; */

    padding-bottom: 140px;
}

.nav__bar{  
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #2A3848;
    text-decoration: none;
  
}

.nav__bar-left{
    display: flex;
    flex-direction: row;
}

.nav__bar-left-item{
    padding-right: 56px;
    align-self: center;
}

.nav__bar-buttons{
    display: flex;
    text-wrap: nowrap;
    width: 906px;
    margin-right: 50px;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    color: #2A3848;
   
}

.nav__bar-button{
    display: flex;
    justify-content: center;
    align-items:center;
              
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #2A3848;
     
    text-align: center;
   
    padding: 15px 25px;
    cursor: pointer;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items:center;
              
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
     
    text-align: center;
   
    padding: 15px 25px;
    cursor: pointer;
}

.hidden__menu-logo{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;
    align-items: center;
}

.hide{
    position: relative;
    margin-left: 50px;
}

.hide:hover:before{
    display: inline-block;
    z-index: 1;
    position: absolute;
    
    width: 30px;
    height: 30px;
    background-image: url("img/menus\ 1.png");
    background-position: left;
    content: "";
}

/* Попытка скрывать лого меню внутки кнопки при наведении курсора */

/* .empty:hover{
    display: none;
}
.hidden__menu-logo:hover{
    display: block;
    z-index: 1;
    position: absolute;
    
    width: 30px;
    height: 30px;
    background-image: url("img/menus\ 1.png") ;
    content: "";
} */

.button__with-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;
}

.button__with-logo:hover{
    background: #FFD600;
}

.nav__bar-button:hover{
    width:fit-content;
    border-radius: 100px;
    background: #FFD600;
    cursor: pointer;    
}

.nav__bar-button:nth-child(6){
    margin-right: 485.5px;
}

/* article */

.article{
    margin-left: 156px;
    margin-right: 544px;

    /* padding-bottom: 0px; */
}

.article__head{
    font-size: 96px;
    font-weight: 900;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3848;
    padding-bottom: 17px;
    text-wrap: nowrap;
}

.article__area{
    width: 571px;
    height: 64px;
}

.article__text{
    font-family: 'Segoe UI', sans-serif;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #687186;
    font-weight: 400;
    font-size: 20px;
    Line-height: 32px;
}

.button{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
    
    text-align: center;
   
    padding: 20px 60px;
    cursor: pointer;
}

.button-section{
    margin-left: 162px;
    padding-bottom: 164.09px;
}

/* section services */

.section__advantages{
    margin-left: 160px;
    margin-right: 128px;
    height: 321.75px;
    margin-left: 162.89px;
    border-radius: 10px;
 
    display: grid;
    grid-template-rows: 122.62px 125.5px;
    grid-template-columns: 430px 439.4px 488.6px;

    row-gap: 73.6px;
    column-gap: 110px;

    padding-bottom: 120px;
}

.advantage__card{
    display: grid;
    grid-template-columns: 63px auto;
    grid-template-rows: 1fr 1fr;
    
    column-gap: 24.99px;
    row-gap: 23.6px;
    border-radius: 10px;
}

.adv__logo{
    width: 63px;
    height: 62.77px;
    top: 865.09px;
    left: 162.89px;
    border-radius: 10px;
    background-color: #FFD600;

    display: flex;
    justify-content: center;
    align-items:center;
}

.adv__title{
    width: 226px;
    height: 49.32px;
    top: 867.57px;
    left: 249.49px;

    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: #333845;
}

.adv_text{
    width: 380px;
    height: 45.83px;
    top: 941.87px;
    left: 249.49px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: #687186;
}

/* section */

.popular__trends-section{
    margin-left: 160px;
    margin-right: 160px;

    margin-left: 160px;
    height: 582.13px;
    border-radius: 30px;
    background: #F8F8F8;
}

.popular__trends-header{
    height: 105px;
    width: 1478.46px;
    border-bottom: 1px solid #DDEBF9;
    margin-left: 60.77px;

    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    color:#333845;

    display: flex;
    align-items:center;
}

.trends__container{
    width: 1484.48px;
    height: 378px;
    margin-left: 59.76px;
    padding-top: 46px;

    display: grid;
    grid-template-columns: 173px 217px 230px 273px 231px;
    column-gap: 90px;
}

.trend__card-header{
    display: flex;
    text-wrap: nowrap;
}

.trend__card-logo{
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items:center;
}

.trend__card-title{

    align-self:center;
    padding-left: 17px;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #333845;
}

.trend__card-list{
    display:block;
    color:#333845;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type:none;
    padding-left: 0;
    text-wrap: nowrap;
}

.trend__card-list li:hover {
    width:fit-content;
    border-radius: 5px;
    background: #FFD600;
    cursor: pointer;
}

.section__mission{
    width: 795px;
    height: 117px;
    margin-left: 160px;
    color: #333845;

    margin-top: 105.45px;
}

.mission__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.mission__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.rating__section{
    width: 1760px;
    height: 663.59px;
    margin-top: 114.51px;
    background: linear-gradient(95.35deg, #2A3848 15.66%, #465668 97.78%);
    border-top-right-radius: 20px;
}

.rating__bg{
    width: 1760px;
    height: 663.59px;
}

.rating__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rating__text-area{
    padding-left: 160px;
}

.rating__title{
    width: 345px;
    height: 92px;
    padding-top: 111.49px;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}

.rating__text{
    width: 861px;
    height: 286px;

    padding-top: 33px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFFB2;
    list-style: none;
}

.rating__text-line{
    padding-bottom: 30px;
}

.rating__bg-picture{
    width: 1020.76px;
    height: 617.18px;
    margin-top: 82.9px;
}

.rating__annotation{
    width: 535px;
    color: #333845;
    line-height: 18px;
}

.rating__description-section{
    width: 1600px;
    height: 606.49px;
    margin-top: 66.31px;
    margin-left: 160px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 49.51px;
    column-gap: 47px;     
    padding-bottom: 164.33px;
}

.description__card-container{
    border-radius: 20px;
    background: #F4F4F4;

    padding-left: 45px;
    padding-top: 32.99px;
    padding-right: 52.96px;
}

.description-card{
    display: flex;
    flex-direction: column;
}

.description-card-header{
    display: flex;
    flex-direction: row;
}

.description-card-number{
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #FFD600;

    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #2A3848;

    margin-right: 22px;
    margin-bottom: 13.69px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-card-name{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-right: 22px;
    margin-bottom: 13.69px;

    color: #2A3848;

    align-self: center;
}

.description-card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E5762;
}

.rating__bottom-container{
    margin-left: 587.17px;
    width: 748px;
    height: 253.67px;

    padding-bottom: 170px;
}

.rating__bottom-text{
    font-size: 34px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    color: #333845;
}

.rating__bottom-annotation{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #687186;

    padding-top: 22.74px;
}

.button__bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 49.76px;
}

.button__bottom{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
    
    text-align: center;
   
    padding: 15px 40px;
    cursor: pointer;

}

.button__start-section{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 49.76px;
}

.footer{
    background: #272F37;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer__bottom{
    height: 84px;
    background: #1D2630;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items:center;
    padding-left: 239px;
    padding-right: 162px;
    justify-content: space-between;

    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#919498;
}

.section__footer{
    height: 610px;
    margin-left: 160px;
    margin-right: 160px;
    color: #333845;

    display: grid;
    grid-template-columns: 417px auto;
}

.section__footer-info{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.right__menu{
    display: flex;
    flex-direction: column;
}

.section__footer-menu-titles{
    padding-top: 70px;
    height: 50px;
       
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;
    grid-template-rows: repeat(5, 1fr);

    grid-column-gap: 170px;
    grid-row-gap: 0px;

    border-bottom: 1px #3B454F solid;

    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
}

.section__footer-menu-descr{
    padding-top: 20px;
    
    color: white;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;
    grid-template-rows: repeat(5, 1fr);

    grid-column-gap: 110px;
    grid-row-gap: 0px;

    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    color: #919498;

    text-wrap: nowrap;
}
   
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 7; }
    
     
.div4{
    display: flex;
    align-items: start; 
    margin-left: 180px;
}

.section__footer-menu-titles .div4 {
    padding-left: 70px;

}

.footer__info-text{
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #919498;
    margin-right: 195px;

    margin-top: 35px;
}

.services__list{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    text-wrap: nowrap;
}

.div1, .div2, .div3,  .div4{
    text-wrap: nowrap;
}

.div4{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.social-networks__logos{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.social-networks{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left; 
    color:white;
}

.button__footer{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
    
    text-align: center;
   
    padding: 10px 30px;
    cursor: pointer;
}

.footer__bottom-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}