
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

html{
    background-color: #1e1e1e;
}

p{
    margin: 0;
    padding: 0;
}

li{
    padding: 0 7.8px; 
}

body{
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    overflow-x: hidden;
}

a{
     text-decoration: none;
}

/* header */

.wrapper{
    margin: 0 auto;
    padding: 22px 156px;
}

.header{
    background-color: #ffffff;
    position: relative;
    border-radius: 30px;
    padding-bottom: 140px;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__burger{
    display: none;
    height: 30px;
    width: 30px;
    position: relative;
}

.header__search{
    height: 30px;
    width: 30px;
}

.burger__line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #333845;
}

.burger__line_first{
    top: 0;
}

.burger__line_second{
    top:50%;
    transform: translateY(-50%)
}

.burger__line_third{
    bottom: 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.nav__bar{  
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #2A3848;
    text-decoration: none;  
}

.nav__bar-buttons{
    display: flex;
    justify-content: space-around;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #2A3848;
}

.nav__bar-button{
    display: flex;
    justify-content: center;
    align-items:center;
    text-wrap: nowrap;
              
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #2A3848;
     
    text-align: center;
   
    padding: 15px 25px;
    cursor: pointer;
}

.nav__bar-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 50px;
}

.nav__bar-search{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 105px;
}

.hidden__menu-logo{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;
    align-items: center;
}

.hide{
    position: relative;
    margin-left: 50px;
}

.hide:hover:before{
    display: inline-block;
    z-index: 1;
    position: absolute;
    
    width: 30px;
    height: 30px;
    background-image: url("img/menus\ 1.png");
    background-position: left;
    content: "";
}

/* Попытка скрывать лого меню внутки кнопки при наведении курсора */

/* .empty:hover{
    display: none;
}
.hidden__menu-logo:hover{
    display: block;
    z-index: 1;
    position: absolute;
    
    width: 30px;
    height: 30px;
    background-image: url("img/menus\ 1.png") ;
    content: "";
} */

/* .button__with-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;
} */

.button__with-logo:hover{
    background: #FFD600;
}

.nav__bar-button:hover{
    width:fit-content;
    border-radius: 100px;
    background: #FFD600;
    cursor: pointer;    
}

.nav__bar-button:last-child{
    margin-right: 485.5px;
}

/* article */

.article__head{
    font-size: 96px;
    font-weight: 900;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3848;
    padding-bottom: 17px;
    text-wrap: nowrap;
}

.article__area{
    padding-top: 50px;
    padding-right: 1350px;
}

.article__text{
    font-family: 'Segoe UI', sans-serif;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #687186;
    font-weight: 400;
    font-size: 20px;
    Line-height: 32px;
}

.button{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
    
    text-align: center;
   
    padding: 20px 60px;
    cursor: pointer;
}

.button-section{
    padding-bottom: 164.09px;
}

/* section services */

.advantages{
    padding-bottom: 120px;
}

.advantages__cards{
    display: grid;
    grid-template-rows: 122.62px 125.5px;
    grid-template-columns: 430px 439.4px 488.6px;

    row-gap: 73.6px;
    column-gap: 110px; 
}

.advantage__card{
    display: grid;
    grid-template-columns: 63px auto;
    grid-template-rows: 1fr 1fr;
    
    column-gap: 24.99px;
    row-gap: 23.6px;
    border-radius: 10px;
}

.adv__logo{
    width: 63px;
    height: 62.77px;
    top: 865.09px;
    left: 162.89px;
    border-radius: 10px;
    background-color: #FFD600;

    display: flex;
    justify-content: center;
    align-items:center;
}

.adv__title{
    width: 226px;
    height: 49.32px;
    top: 867.57px;
    left: 249.49px;

    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: #333845;
}

.adv_text{
    width: 380px;
    height: 45.83px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: #687186;
}

/* section */

.trends{
    padding-bottom: 68px;
}

.popular__trends{
    padding-bottom: 105px;
}


.popular__trends-section{
    border-radius: 30px;
    padding-bottom: 60px;
    background: #F8F8F8;
}

.popular__trends-header{
    display: flex;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;

    border-bottom: 1px solid #DDEBF9;
    margin-left: 60.77px;
    margin-right: 60px;

    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    color:#333845;
}

.trends__container{
    margin-left: 59.76px;
    padding-top: 46px;

    display: grid;
    grid-template-columns: 173px 217px 230px 273px 231px;
    column-gap: 90px;
}

.trend__card-header{
    display: flex;
    text-wrap: nowrap;
}

.trend__card-logo{
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items:center;
}

.trend__card-title{
    align-self:center;
    padding-left: 17px;

    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #333845;
}

.trend__card-list{
    display:block;
    color:#333845;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type:none;
    padding-left: 0;
    text-wrap: nowrap;
}

.trend__card-list li:hover {
    width:fit-content;
    border-radius: 5px;
    background: #FFD600;
    cursor: pointer;
}

.section__mission{
    max-width: 795px;
    color: #333845;
}

.mission__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.mission__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.rating__wrapper{
    max-width: 1920px;
    margin: 0 auto;
}

.rating__section{
    width: 1760px;
    height: 663.59px;
    margin-top: 114.51px;
    background: linear-gradient(95.35deg, #2A3848 15.66%, #465668 97.78%);
    border-top-right-radius: 20px;
    
}

.rating__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rating__text-area{
    padding-left: 160px;

}

.rating__title{
    width: 345px;
    height: 92px;
    padding-top: 111.49px;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}

.rating__text{
    width: 861px;

    padding-top: 33px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFFB2;
    list-style: none;
}

.rating__text-line{
    padding-bottom: 30px;
}

.rating__bg-picture{
    width: 1020.76px;
    height: 617.18px;
    margin-top: 82.9px;
}

.rating__annotation{
    width: auto;
    color: #333845;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 66px;
}

.rating__description-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 49.51px;
    column-gap: 47px;     
    padding-bottom: 164.33px;
}

.description__card-container{
    border-radius: 20px;
    background: #F4F4F4;

    padding-left: 45px;
    padding-top: 32.99px;
    padding-bottom: 32.99px;
    padding-right: 52.96px;
}

.description-card{
    display: flex;
    flex-direction: column;
}

.description-card-header{
    display: flex;
    flex-direction: row;
}

.description-card-number{   
    padding: 15px; 
    margin: 20px;
    margin-left: 0;

    font-size: 16px;
    font-weight: 700;
    color: #2A3848;       

    border-radius: 10px;
    background: #FFD600;    
}

.description-card-name{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-right: 22px;
    margin-bottom: 13.69px;

    color: #2A3848;

    margin: auto 0;
}

.description-card-text{
    margin-left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #4E5762;
}

.rating__bottom-container{
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 170px;
}

.rating__bottom-text{
    font-size: 34px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    color: #333845;
}

.rating__bottom-annotation{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #687186;

    padding-top: 22.74px;
}

.button__bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 49.76px;
}

.button__bottom{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
    
    text-align: center;
   
    padding: 15px 40px;
    cursor: pointer;
}

.button__start-section{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 49.76px;
}

/* Footer */

.footer{
    background: #272F37;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section__footer{
    color: #333845;  
    display: grid;
    grid-template-columns: 417px auto;    
}

.section__footer-info{    
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.right__menu{
    display: flex;
    flex-direction: column; 
}

   
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 {
     grid-area: 1 / 2 / 2 / 3;
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
}
.div4 { 
    grid-area: 1 / 4 / 2 / 7; 
}
       
.div4{
    display: flex;
    align-items: start; 
    margin-left: 180px;   
}

.footer__info-text{
    margin-right: 195px;
    margin-top: 35px;

    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: #919498;
}

.services__list{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    text-wrap: nowrap;
}

.div1, .div2, .div3,  .div4{
    text-wrap: nowrap;
}

.div4{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.social-networks__logos{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.social-networks{
    color:white;
}

.button__footer{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 100px;
   
    text-align: center;
   
    padding: 10px 30px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    background-color: #FFD600;
}

.footer__bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1D2630;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#919498;
}

.footer__bottom-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__logo{
    width: 55px;
    margin-right: 12px;   

}

.logo__text-std{
    display: flex;
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
    
    display: flex;
    align-items:center;
}

.logo__text-mb{
    display: none;
}

.footer__menu{
    padding-top: 70px;

}

.footer__menu-section{
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    color: #919498;
}

.footer__menu-section:nth-child(3) .footer__menu-title{
    padding-right: 285px;
}

.footer__menu-section:nth-child(4) .footer__menu-title{
    padding-right: 0;
}

.footer__menu-title{
    margin: 0;
    padding-right: 150px;
    padding-bottom: 25px;
    border-bottom: 2px solid #3B454F;

    font-size: 18px;
    font-weight: 600;
    line-height: 23.94px;
    text-align: left;
    color: #ffffff;
}

.hidden{
    color:#272F37;
}

.first__name{
    margin-top: 25px;
    padding-bottom: 20px;
}

.underline{
    text-decoration: underline;
}

/* footer end */

/* Media start */

@media screen and (max-width:430px){

    /* .wrapper{
        padding: 20px;
        padding-right: 36x;
        margin: 0;
    } */

    .wrapper{
        /* max-width: 200px; */
        margin: 0 0;
        padding: 20px 20px;
        /* padding: 0px 0px; */
    }

    .header__wrapper{
        margin: 0;
        padding: 0;
    }

    .nav__bar-buttons{    
        display: flex;
        justify-content: space-between;
    }

    .header__burger{
        display: block;  
        margin-right: 18px; 
    }
    .bar-button{
        display: none;
    }

    .logo__iphone {
        width: 100px;     
        width: 100px;     
    }

    .header__search{
        display: block;  
    }
    
    .header{
        border-radius: 0px;
        padding-bottom: 0;
    }

    .nav__bar-logo{
        margin: 0;
    }

    .article{
        padding-bottom: 0;
    }

    .article__head{
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        text-wrap: wrap;     
    }

    .article__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-wrap: wrap; 
    }

    .article__area{
        width: auto;
        height: auto;
        padding-right: 0;
    }

    .button__start-section{
        max-width: 244px;
        display: flex;
        justify-content: start;
        align-items: center;

        padding: 0;
        margin: 0;
    }

    .button-section{
        padding-bottom: 57px;
    }

    .button{
        width: 244px; 
        
        padding: 15px 0 15px 0;
        margin: 0;
        border-radius: 100px;
      
        font-size: 16px;
        font-weight: 500;
        color: #333845;
        background-color: #FFD600;
        
        text-align: center;
        text-wrap: nowrap;
    }

    .advantages__cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .advantage__card{
        display: grid;
        grid-template-columns: 60px 200px;
        grid-template-rows: 45px 1fr;
        
        column-gap: 16px;
        row-gap: 0px;
        border-radius: 10px;
        text-wrap: wrap;     
    }

    .adv__title{
        width: fit-content;
        margin-top: -7px;
        padding-bottom: 0px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        text-align: left;
    
        color: #333845;
    }
    
    .adv_text{
        font-size: 16px;
        width: fit-content;
        height: fit-content;
        text-wrap: wrap;
    }

    .advantages{
        padding-bottom: 10px;
    }

    .popular__trends-header{
        font-size: 18px;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 20px;
        margin-top: 0;
        padding-top: 20px;
        text-wrap: nowrap;
    }

    .trends__container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-left: 30px;
        padding-top: 20px;
    }

    .trend__card-header{
        width: fit-content;
        font-size: 50px;
        font-weight: 200;
    }

    .mission__title{
        font-size: 22px;
    }

    .section__mission{
        width: fit-content;
    }

    .mission__text{
        text-wrap: wrap;
        font-size: 14px;
        line-height: 20px;
    }
    
    .popular__trends{
        padding-bottom: 0px;
    }
    
    .popular__trends-section{
        padding-bottom: 20px;
    }
       
    .rating__section{
        width: 300px;
        height: 1145px;
        margin-right: 30px;
        margin-top: 0px;   

    }
    
    .rating__wrapper{
        max-width: 100%;
        margin-right: 30px;   

        padding-bottom: 50px;
    }
    
    .rating__container{
        display: flex;
        flex-direction:column;
    }    
    
    .rating__text-area{
        width: 100%;
        padding-left: 21px;
        padding-bottom: 0;
        margin-bottom: 0; 
    }
    
    .rating__title{
        width: auto;
        height: auto;
      
        margin-top: 0px;
        padding-top: 20px;

        line-height: 30px;
        font-size: 20px;
        text-wrap: wrap;
    }

    .rating__text{
        max-width: fit-content;
        padding-top: 20px;
        padding-right: 25px;
        padding-bottom: 0;
        margin-bottom: 0;
    
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
    
        color: #FFFFFFB2;
        text-wrap: wrap;
    }

    .rating__text-line{
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    
    .rating__bg-picture{
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-left: 22px;
    }

    .rating__bg-picture-mob{
        width: 300px;
    }
    
    .rating__annotation{
        margin-bottom: 0;
    }
    
    .rating__description-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        column-gap: 0px;     
        padding-bottom: 50px;        
    }

    .description__card-container{ 
        padding-left: 30px;
        padding-top: 22px;
        padding-bottom: 32.99px;
        padding-right: 20px;
    }

    .description-card-number{   
        padding: 10px; 
        margin: 10px;
        margin-left: 0;

        font-size: 16px;
        font-weight: 700;
        color: #2A3848;       
    
        border-radius: 10px;
        background: #FFD600;    
    }

    .description-card-name{
        margin: auto 0;
        font-size: 16px;    
    }

    .description-card-text{
        margin-left: 0;
        font-size: 16px;
    }    

    .rating__bottom-container{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0;
    }

    .rating__bottom-text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 20px;
        line-height: 30px;
    }

    .rating__bottom-annotation{
        font-size: 15px;  
        padding-bottom: 20px;
    }

    .button__bottom-section{
        padding-top: 0px;
        padding-bottom: 90px;
    }

    .button__bottom{      
        font-size: 14px;     
        padding: 10px 20px;
    }

    .logo__text-std{
        display: none;
    }

    .logo__text-mb{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        font-size: 24px;
        font-weight: 800;
        color: #FFFFFF;
    }
    
    .section__footer{
        color: #333845;  
        display: flex;
        flex-direction: column;

 
    }

    .section__footer-info{    
        display: flex;
        flex-direction: column;
        margin-top: 43px;
    }
    
    .footer__info-text{
        margin-right: 0;
        margin-top: 16px;
        text-align: center;
        padding: 0;
    
        font-size: 10px;
        font-weight: 400;
        line-height: 17px;
        color: #919498;
    }

    .footer__menu-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0; 
        margin: 0;
    }

    .footer__menu-section:nth-child(1){
        display: none;  
    }
    
    .footer__menu-section:nth-child(2){
        display: none;  
    }
    
    .footer__menu-section:nth-child(3){
        display: none;  
    }

    .footer__menu-title{
        padding-top: 20px;
        border: 0;

    }

    .footer__menu{
        padding-top: 0;
    }

    .footer__menu-title{




        margin: 0;
        padding-right: 0px;
        padding-bottom: 10px;
        border-bottom: 0;
    
        font-size: 18px;
        font-weight: 600;
        line-height: 23.94px;
        text-align: left;
        color: #ffffff;
    }

    .button__footer{
        border-radius: 100px;   
        padding: 10px 15px;
    }

    .social-networks__logos{
        padding-bottom: 50px;
    }

    .footer__bottom{
        padding-top: 30px;
        padding-bottom: 30px;
        background: #1D2630;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }
    
    .footer__bottom-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .social-networks__logos{ 
        padding-top: 17px; 
        padding-bottom: 0px;     
    }

    .logo_footer-bottom{
        margin-left: 10px;
    }
    
    .logo__bottom{
        width: 116px;
    }
}

/* Media end */